/* Importação da fonte*/
@font-face{
  font-family: Outfit;
  src: url("../font/Outfit-VariableFont_wght.ttf");
}
:root {
    --cor-destaque: #1559B7; 
    --fundo-claro: #f8f9fa;
    --fundo-branco: #fff;
    --fundo-escuro: #000;
    --texto-claro: #fff;
    --texto-escuro: #000;
    --cor-hover: #007BFF;
    --cor-button:rgba(217, 217, 217, 1);
    --cor-cinzento: #4e4e4e;
    --cor-borda: #ddd;
  }

body {
    background-color: var(--fundo-branco);
    margin: 0;
    font-family: Outfit, sans-serif;
}
/*Centraliza o Form*/
.contact-form {
    margin: 20px auto;
    max-width: 800px;
    text-align: left;
    padding: 20px;
    background-color: var(--fundo-claro);
    box-shadow: 0 4px 8px var(--fundo-escuro);
    border-radius: 10px;
    border: 1px solid var(--cor-borda);
}
/*Alinhar o botão Enviar*/
.button-container {
    text-align: center;
    margin: 40px 0;
}
/*Linha que divide o contactos do mapa-e-form*/
.linha { 
    margin: 20px 0;
    border: 1px solid var(--cor-borda);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}
/*Formúlario de contato*/
.form-group {
    color: var(--texto-escuro);
    margin-bottom: 15px;
}
.container {
    color: var(--texto-escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    max-width: 1200px;
}
/*margin extra pro texto especifico dentro do form*/
.contact-form-container h3 {
    margin: 12px 20px 15px 20px;
}
/*espaçamento para o titulo Contactos*/
.text-center h1{
    max-width: 1230px;
}
.contact-info {
  margin: 20px 0;
  width: 105%;
  display: flex;
  flex-direction: row;
  align-self: center;
}
/*Localização do Escritorio Ficticio*/
.map-location {
    max-width: 600px;
    padding: 20px;
    text-align: center;
    background-color: var(--fundo-branco);
    border-radius: 10px;
    border: 3px solid var(--cor-borda);
    width: 440px;
    height: 500px;
    margin-top: 0;
}
/*Faz o display do mapa a esquerda e form a direita*/
.mapa-e-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}
.mapa{
    margin-top: 40px;
}
/*Estilo do Formulário*/
form {
    width: 100%;
    margin-top: 0;
    min-height: 500px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid var(--cor-borda);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    width: 90%;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--fundo-claro);
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: var(--cor-destaque);
    color: var(--fundo-claro);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--cor-hover);
}

.navbar-heigth {
    padding: 0px 70px;
}
.nav-item {
    padding: 0px 10px;
    font-weight: 500;
    font-size: 20px;
}
  
.btn-contactos {
    font-size: 20px;
    border-radius: 0%;
    border-width: 2px;
}

/*Footer copiado da homepage*/
.footer {
    background-color: var(--fundo-claro); /* Cor de fundo clara */
    padding: 30px 0;
    border-top: 1px solid var(--fundo-claro); /* Linha superior */
  }
  .footer-logo {
    height: 60px;
    margin-bottom: 20px;
  }
  .footer-nav ul {
    padding: 0;
    margin: 20px 0;
    list-style: none;
  }
  .footer-nav ul li {
    display: inline;
    margin: 0 15px;
  }
  .footer-nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }
  .footer-nav ul li a:hover {
    color: var(--cor-hover); /* Cor de hover */
  }
  .social-icons {
    margin: 20px 0;
  }
  .social-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #007bff;
    text-decoration: none;
  }
  .social-icons a:hover {
    color: var(--cor-hover); /* Cor de hover */
  }
  .footer-copyright {
    margin-top: 20px;
    font-size: 14px;
    color: var(--cor-cinzento); /* Cor cinzenta */
  }

/* Media Queries peguei da ficha da CSS*/
@media (max-width: 768px) {
  .map-location{
      width: 100%; 
      height: fit-content;
  }
  .mapa-e-form {
      width: 100%;
      flex-direction: column; 
  }
  .contact-form {
      max-width: 100%;
      padding: 10px;
  }
  .contact-info h3 {
    font-size: 100%;
  }  
  .contact-info p {
    font-size: 70%;
  } 
}

@media (max-width: 480px) {
  .map-location iframe {
      width: 100%; 
      height: 200px;
  }
  .contact-form {
      max-width: 100%; 
      padding: 5px;
  }
  .contact-info  .email{
    font-size: 50%;
  }
}
